{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person" class="profile_box">
  <div class="author__avatar">
    <img src="{{ author.avatar }}" class="author__avatar" alt="{{ author.name }}">
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}
      <p class="author__bio">{{ author.bio }}</p>
    {% endif %}

    <ul class="author__meta">
      {% if author.email %}
        <li class="author__meta-item">
          <i class="fas fa-fw fa-envelope" aria-hidden="true"></i>
          <a href="mailto:{{ author.email }}">{{ author.email }}</a>
        </li>
      {% endif %}
      {% if author.location %}
        <li class="author__meta-item">
          <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>
          <span>{{ author.location }}</span>
        </li>
      {% endif %}
      {% if author.github %}
        <li class="author__meta-item">
          <i class="fab fa-fw fa-github" aria-hidden="true"></i>
          <a href="https://github.com/{{ author.github }}">github.com/{{ author.github }}</a>
        </li>
      {% endif %}
      {% if author.googlescholar %}
        <li class="author__meta-item">
          <i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i>
          <a href="{{ author.googlescholar }}">Google Scholar</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
